<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Now</title>
    <link rel="stylesheet" href="app/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="app/dist/app.css">
    <link rel="stylesheet" href="assets/font/font-awesome.css">
    <link href="app/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="app/dist/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="assets/images/favicon.png">
  </head>
  <body class="home-3 header-fixed">
    <!-- Preloading -->
    <div class="preloader">
      <div class="icon"></div>
    </div>
    <!-- end Preloading -->
    <!-- Scroll Top -->
    <div class="progress-wrap active-progress">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
      </svg>
    </div>
    <!-- end Scroll Top -->
    <!-- Header -->
    <header id="header_main" class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="header__body d-flex justify-content-between">
              <div class="header__logo">
                <a href="index.html">
                <img id="site-logo" src="assets/images/logo.png"
                  alt="MGR" 
                  data-retina="assets/images/logo@2x.png" data-width="217"
                  data-height="50">
                </a>
              </div>
              <div class="header__right">
                <!-- /#main-nav -->
                <div class="button">
                  <a class="btn-action" href="#">
                  Logout
                  </a>
                </div>
                <div class="mobile-button"><span></span></div>
                <!-- /.mobile-button -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="join-main-outer">
      <div class="container">
        <div class="package-main-outer">
          <h4 class="title">Package</h4>
          <div class="package-outer">
            <div class="row align-items-center">
              <div class="col-md-3">
                <div class="form-group package-inner">
                  <select class="form-control">
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                    <option>500</option>
                    <option>600</option>
                    <option>700</option>
                    <option>800</option>
                    <option>900</option>
                    <option>1000</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group package-inner">
                  <select class="form-control">
                    <option>18 Months</option>
                    <option>36 Months</option>
                    <option>48 Months</option>
                    <option>60 Months</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invest-btn package-inner">
                  <button type="submit" class="btn btn-primary">Invest</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="package-inner you-get">
                  <p>You will get 0.00 $</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="active-package-main">
          <h4 class="title">Active Package</h4>
          <div class="active-package-outer">
            <table class="table-responsive">
              <thead>
                <tr>
                  <th>S.no</th>
                  <th>Amount</th>
                  <th>Starting Date</th>
                  <th>Ending Date</th>
                  <th>You Get</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>100$</td>
                  <td>18/05/2022</td>
                  <td>28/05/2022</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>200$</td>
                  <td>28/05/2022</td>
                  <td>08/06/2022</td>
                  <td>2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="referral-link-main">
          <h4 class="title">Referral Link</h4>
          <div class="referral-outer">
            <h6>Referral Link will activate after Investment</h6>
          </div>
        </div>
        <div class="income-main-outer">
          <h4 class="title">Incomes</h4>
          <div class="income-outer text-center">
            <div class="row">
              <div class="col-md-3">
                <div class="income-inner">
                  <p><b>0.00$</b>Staking Dividend</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="income-inner">
                  <p><b>0.00$</b>Referral Income</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="income-inner">
                  <p><b>0.00$</b>Level Income</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="income-inner">
                  <p><b>0.00$</b>Incentive</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer style-2" id="footer">
      <div class="container">
        <div class="row">
          <div class="footer__body">
            <div class="col-xl-3 col-md-6 col-12">
              <div class="info">
                <img src="assets/images/logo.png" alt="MGR">
                <p class="desc fs-18">
                  Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat pariatur.  
                </p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-6">
              <div class="link s1">
                <h5 class="title">Quick links</h5>
                <ul>
                  <li><a href="#">MGR Trading</a></li>
                  <li><a href="#">Development</a></li>
                  <li><a href="#">Advertisement</a></li>
                  <li><a href="#">Career</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-6">
              <div class="link s2">
                <h5 class="title">Help</h5>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Team Members</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Refund Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="newsletter">
                <h5 class="title">Social</h5>
                <ul class="social">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer_bottom">
            <p class="fs-16">Copyright © 2022, MetawersGamingRewards</p>
            <ul>
              <li><a href="#">Terms & Condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/swiper-bundle.min.js"></script>
    <script src="app/js/swiper.js"></script>
    <script src="app/js/aos.js"></script>
    <script type="text/javascript" src="app/js/vanilla-tilt.js"></script>
    <script type="text/javascript">
      VanillaTilt.init(document.querySelector(".box-item"), {
          max: 25,
          speed: 400
      });
      
      //It also supports NodeList
      VanillaTilt.init(document.querySelectorAll(".box-item"));
    </script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript" src="../../code.jquery.com/jquery-1.11.0.min.js"></script> 
    <script type="text/javascript" src="../../www.jqueryscript.net/demo/Modern-Circular-jQuery-Countdown-Timer-Plugin-Final-Countdown/js/kinetic.js"></script> 
    <script type="text/javascript" src="../../www.jqueryscript.net/demo/Modern-Circular-jQuery-Countdown-Timer-Plugin-Final-Countdown/jquery.final-countdown.js"></script> 
    <script src="app/js/app.js"></script>
  </body>
  <!-- Mirrored from surielementor.com/MGRhtml/OnePage.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 May 2022 10:36:30 GMT -->
</html>